

<div class="dashboard-container">

    <div class="upper-navbar">

    </div>
    <div class="side-navbar">

    </div>
    <div class="upper-mandate-section">
        <div class="image-with-music">
            <app-image-music-box></app-image-music-box>
        </div>
        <div class="calender-with-events">
              <app-calendar-box></app-calendar-box>
        </div>
        <div class="progress-tracker">
            <app-progress-box></app-progress-box>
        </div>

    </div>

    <div class="extra-important">
         <div class="resources">

         </div>
         <div class="to-do-list">

         </div>
         <div class="pomodoro">

         </div>
    </div>
    <div class="assignment-work">

    </div>

</div>


<!-- <div class="image-Section">
    <img class="defaultImage" [src]="imageLink" alt="dashboard" (error)="imageLink = defaultImage">
    <div class="image-overlay">
        <button class="plus-button" (click)="openImagePopup()">
            <span class="plus-icon">+</span>
        </button>
    </div>
</div>
<div class="greeting-section primary-shadow-card custom-width">
    <h1>Hello, {{userName}}</h1>
</div>


<div class="popup-overlay" *ngIf="showPopup">
    <div class="popup-content primary-shadow-card">
        <h3>Change Image</h3>
        <input type="text" [(ngModel)]="newImageUrl" placeholder="Paste image URL here" class="url-input">
        <div class="popup-buttons">
            <button (click)="updateImage()" class="ok-button">OK</button>
            <button (click)="closePopup()" class="cancel-button">Cancel</button>
        </div>
    </div>
</div>
<div>
    <app-calender-events></app-calender-events>
</div> -->