/* You can add global styles to this file, and also import other style files */
.primary-shadow-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 8px;
    transition: box-shadow 0.3s ease;
}


.primary-shadow-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.custom-width {
    width: fit-content;
    display: inline-block;
    max-width: 100%; /* Prevents overflow on small screens */
}